/build/
/dist/
/.deployment-backups/
/tools/A2FOArcLab/target/
/tools/*/target
rgb-module-fixture-*/
rgb-parent-fixture-*/
/Archive.zip
/modules/*.zip
*.rej
__pycache__/
*.pyc
*.dll
*.exe
*.log
*.o
*.obj
.DS_Store
Thumbs.db
*~
