//////////////////////////////////////////////////////////////////////
// KLINGON INTERFACE
//////////////////////////////////////////////////////////////////////

// User interface placements that remain the same across races
#include "gui_interface.cfg"

//////////////////////////////////////////////////////////////////////
// Race specific configuration data....
// These parameters are likely to differ between races.
//////////////////////////////////////////////////////////////////////
// we no longer assume that these files have a resolution of 640x480
// it can now be specified here
screenWidth = 1600
screenHeight = 1200

tooltipBackgroundColor = 0.37 0.059 0.0
tooltipTextColor = 1.0 1.0 1.0
