//////////////////////////////////////////////////////////////////////
// BORG INTERFACE
//////////////////////////////////////////////////////////////////////

// Include non race specific interface configuration data...
#include "gui_interface.cfg"

//////////////////////////////////////////////////////////////////////
// Race specific configuration data....
// These parameters are likely to differ between races.
//////////////////////////////////////////////////////////////////////
// we no longer assume that these files have a resolution of 640x480
// it can now be specified here
screenWidth = 1600
screenHeight = 1200

tooltipBackgroundColor = 0.36 0.48 0.54
tooltipTextColor = 1.0 1.0 1.0

// resource panel is different
resourcePanelArea = 0 8 935 40
resourcePanel_0 = 0 0 256 40
resourcePanel_1 = 256 0 256 40
resourcePanel_2 = 512 0 256 40
resourcePanel_3 = 768 0 1 40
resourcePanel_4 = 769 0 166 40

noLatinum = 1

// where the resource displays go
resource_2 = 72 5 116 26     // dilithium
resource_4 = 254 5 116 26    // metal
resource_0 = 556 5 134 26    // crew
resource_1 = 756 5 127 26    // officers
